body{
    background: #ffffff;
}
span{
    color: #A4C639;
}
a.button{
    color: #ffffff;
    text-align: middle;
    min-height: 50px;
    min-width: 150px;
    background: #A4C639;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.bkg-A4C639{
    background: #A4C639;
}
.container-location a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.bc-aboutus, .bc-contactus, .bc-ourservices{
    background-image: url(../images/page-heading-bg.jpg);
    min-height: 530px;
}
.bc-home{
    background-image: url(../images/slide_01.jpg);
}
.bc-aboutus-gettoknow{
    background-image: url(../images/fun-facts-bg.jpg);
    margin-bottom: 100px;
}
.nav-link:hover, .active{
    color: #A4C639 !important;
    border-bottom: 4px solid #A4C639;
}
.image-resize{
    max-width: 465px;
    max-height: 465px;
}
